# Opam
_opam/

# Visual Studio Code
.vscode/settings.json

# Dune
_build/
/*.install

# GitHub Actions
/download-cache/

#   direnv (https://direnv.net/)
.envrc

# CI
.ci/
dist/
_release/
msys64/

# when developing patches with: opam install ./dkml-base-compiler.opam --inplace-build
/dkmldir/
/dl/
/ocaml.config
/where
/Brewfile
