# Opam
_opam/

# Visual Studio Code
.vscode/settings.json

# Dune
_build/
/*.install

# GitHub Actions
/download-cache/

#   direnv (https://direnv.net/)
.envrc

# CI
dist/
_release/
stage/

# when developing patches with: opam install ./dkml-base-compiler.opam --inplace-build
/dkmldir/
/ocaml.config
/where
/Brewfile
.vscode/c_cpp_properties.json
/change*.log

# CI using dkml-workflows' DkML compilers.
#   DkML compilers populate the .opam folder.
/.opam/
#   Desktop testing on Windows uses MSYS2.
/msys64/

# ci: cross-unix.yml
/vendor/drc/
/vendor/dkml-compiler/
/.dkmlroot
/dist-*-on-*/

# dockcross
#   docker run --rm dockcross/manylinux2014-x86  > ./dockcross-manylinux2014-x86
#   dk Ml.Use -- bash dockcross-manylinux2014-x86 --args "--platform linux/386 -it" bash
/dockcross-manylinux2014-x86
#   docker run --rm dockcross/manylinux2014-x64  > ./dockcross-manylinux2014-x64
#   dk Ml.Use -- bash dockcross-manylinux2014-x64 --args "--platform linux/amd64 -it" bash
/dockcross-manylinux2014-x64
#   docker run --rm dockcross/manylinux_2_28-x64  > ./dockcross-manylinux_2_28-x64
#   dk Ml.Use -- bash dockcross-manylinux_2_28-x64 --args "--platform linux/amd64 -it" bash
/dockcross-manylinux_2_28-x64
